* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.body-wrapper {
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  padding: 3rem 1rem;
}
.content-wrapper {
  padding: 2rem 1rem;
}
@media (max-width: 508px) {
  .content-wrapper {
    padding-right: 0;
  }
}
nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: -1;
  width: 40%;
  text-align: center;
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 500;
  display: none;
  opacity: 0.5;
  box-shadow: 5px 5px 5px #e5e5e9;
  transform: translateX(-100%);
  border: 1px solid #e5e5e9;
  z-index: 10;
}

a {
  color: black;
  text-decoration: none;
}

.headline {
  width: 70%;
  font-size: 2rem;
}
.loan-heading,
.ver-heading {
  color: #5d51e9;
  font-weight: 700;
  font-size: 1.3rem;
}
.currency-icon,
.back-icon {
  color: #5d51e9;
}
.swiper-slide {
  width: 100%;
}
.swiper-slide h2,
.swiper-slide i {
  display: inline-block;
  color: #e5e5e9;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  transition: font-size 0.5s;
}
.swiper-slide-active h2,
.active-value {
  color: #5d51e9;
  font-size: 3rem;
  font-weight: 700;
}

.swiper-slide-active i {
  color: #5d51e9;
}
.form-container {
  display: flex;
  align-items: center;
}
.form-container input[type='text'],
.form-container input[type='text']::placeholder {
  font-size: 2rem;
  color: #e5e5e9;
  font-weight: 700;
}
.swiper-slide-active .form-container [type='text']::placeholder {
  color: #5d51e9;
}
.swiper-slide-active .form-container [type='text'] {
  color: #5d51e9;
}
input[type='text']:focus + label,
input[type='password']:focus + label {
  font-size: 1rem;
  font-weight: 700;
  color: #5d51e9;
}

input[type='checkbox']:checked {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-btn,
button[type='submit'],
.submit {
  width: 8rem;
  height: 2.7rem;
  background-image: linear-gradient(to right, #525df7, #8b2efa);
  border: none;
  border-radius: 20px;
  border-top-left-radius: 0;
  margin-top: 0.6rem;
  text-align: center;
  padding: 0;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
}
button[type='submit'],
.submit {
  width: 10rem;
  height: 3.6rem;
  border-radius: 25px;
  border-top-left-radius: 0;
}
.subheading {
  font-size: 1rem;
  opacity: 0.5;
}

.circles {
  position: absolute;
  z-index: 10;
}

.top-right-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #e5e5e9;
  opacity: 0.4;
  top: -75px;
  right: -140px;
}
.bottom-left-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #525df7, #8b2efa);
  bottom: -60px;
  left: -20px;
}
.bottom-right-circle {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #6eaafc, #93eaf7);
  bottom: -155px;
  left: 130px;
}

.small-bubble {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #6eaafc, #93eaf7);
  left: 70%;
  top: 280px;
  z-index: 10;
  opacity: 1;
}
.big-bubble {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #525df7, #8b2efa);
  left: 73%;
  top: 130px;
  z-index: 9;
  opacity: 1;
}
.loan-app-content {
  padding: 1.6rem;
  right: 0;
}

.form-check p,
.highlight {
  width: auto;
  height: auto;
  color: black;
  font-size: 0.85rem;
  font-weight: 700;
  opacity: 0.5;
  display: none;
  transform: translateY(100%);
  margin: 0;
}

.form-check p {
  margin-top: 1.3rem;
  margin-left: 1.3rem;
}
.highlight {
  color: #5d51e9;
}
input[type='text'],
input[type='password'] {
  font-weight: 400;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #e5e5e9;
  transition: scale 1s;
}
input[type='text']:focus,
input[type='password']:focus {
  transform: scale(1, 1.1);
  border-color: #5d51e9;
}
input[type='checkbox'] {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}

.ver_p {
  font-size: 1.1rem;
  font-weight: 400;
  width: 270px;
  opacity: 0.9;
}

.animate {
  transform: translateY(-100%);
  opacity: 0;
}
.info {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
}
.timer {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border: 5px solid #e5e5e9;
  border-top-color: #5d51e9;
  animation: spin 2s linear infinite;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animated-circle {
  position: absolute;
  background-image: linear-gradient(to right, #525df7, #8b2efa);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
  z-index: 0;
}

.progress {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
}
.progress h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #5d51e9;
}
.progress p {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.7;
}

.info .small-bubble {
  width: 80px;
  height: 80px;
  top: -5%;
  left: 80%;
  opacity: 0.8;
  z-index: 10;
}
